*{
    box-sizing: border-box;
}

.miNombre{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.fotoCv{
    width: 10%;
    height: 10%;
    text-align:end; 
    /* margin-left: 80% ; */
    margin-right: 6em;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    float: right;
}

.datosPersonales{
    text-align: center;
    margin-left: 13em;
    /* width: 100%; */
}   

.tituloDatos{
    font-weight: 600;
    text-decoration: underline;
    /* text-align: center; */
}

nav{
    color: lightcoral;
}

.container-fluid{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.datosAcademicos, .datosConocimientos{
    text-align: center;
    margin: 20px;    
    font-size: 20px;
}

.titulos{
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

ul{
    list-style: none;
}
